---
import Article from "@/templates/zh/Blank.astro";
import ManchuSyntax from "./_components/ManchuSyntax.astro";
import Bilibili from "@/components/Bilibili.svelte";

const vocabulary = {
  "-i": "ã®",
  adali: "ã‚‰ã—ã„",
  aga: "é›¨",
  akacun: "å¿ƒé…äº‹",
  angga: "å£",
  ba: "ã¨ã“ã‚",
  be: "ã‚’",
  "bi/ki": "ã„/ãŸã„",
  cira: "çµã³ãŒå›ºã„",
  de: "ã§",
  dekderhvn: "é´",
  edun: "é¢¨",
  eiten: "ä¸€åˆ‡ã®",
  elden: "å…‰",
  emgi: "ã¨å…±ã«",
  erin: "æ™‚",
  faitan: "çœ‰",
  forgon: "æ™‚å­£",
  gese: "ã‚‰ã—ã„",
  geterembumbi: "ä¸€æƒã™ã‚‹",
  goro: "é æ–¹ã®",
  gulhun: "å…¨",
  hon: "ç”šã ",
  "ilha/-i": "èŠ±ã®",
  "inje/ci": "ç¬‘v",
  "inje/re": "ç¬‘",
  jai: "åŠã³",
  jalan: "ä¸–ç•Œ",
  juwari: "å¤",
  nasacun: "å˜†ã",
  "niru/me": "æ/ã",
  niyengniyeri: "æ˜¥",
  okini: "ã«é–¢ä¿‚ãªã",
  saikan: "ç¾ã—ã„",
  si: "ã‚ãªãŸ",
  "si/ni": "ã‚ãªãŸã®",
  tugi: "é›²",
  "tuwa/na/ki": "è¦‹ã«/è¡Œã/ãŸã„",
};

const parts = [
  `
goro ba de tuwanaki
1é ã„2æ‰€3ã«4è¡ŒããŸã„
4æƒ³å»1è¿œ2æ–¹0çš„å±±å·

dekderhvn be tuwanaki
1ã‚«ãƒ¢ãƒ¡2ã‚’3è¦‹ã«è¡ŒããŸã„
4æƒ³å»0æµ·è¾¹4çœ‹1æµ·é¸¥

aga edun okini
1å›°2é›£3ã«ã‚‚ã‹ã‹ã‚ã‚‰ãš
3ä¸ç®¡1é£2é›¨3æœ‰å¤šå°‘
// 3ã©ã‚“ãªã«1å›°2é›£3ãŒã‚ã£ã¦ã‚‚

sini emgi biki
1ã‚ãªãŸã¨2ä¸€ç·’ã«3ã„ãŸã„
3æœ‰1ä½ 0å°±3è¶³å¤Ÿ
// 1ã‚ãªãŸã¨2ä¸€ç·’ã«3ã„ã‚Œã°ååˆ†ã§ã™

sini angga hon saikan
1ã‚ãªãŸã®2å”‡0ã¯3ã¨ã¦ã‚‚4ç¾ã—ã„
0å–œæ¬¢çœ‹1ä½ çš„2å˜´0è§’

sini faitan hon saikan
1ã‚ãªãŸã®2çœ‰0ã¯3ã¨ã¦ã‚‚4ç¾ã—ã„
0å–œæ¬¢çœ‹1ä½ çš„2çœ‰0æ¢¢

sini injere cira tugi adali
1ã‚ãªãŸã®2ç¬‘3é¡”0ã¯4é›²5ã®ã‚ˆã†
0ç™½4äº‘0æŒ‚åœ¨é‚£è“å¤©ï¼Œ5åƒ1ä½ çš„2å¾®ç¬‘
`,

  `
si injeci hon saikan
1ã‚ãªãŸ0ãŒ2ç¬‘ã†ã¨ã0ã¯3ã¨ã¦ã‚‚4ç¾ã—ã„
1ä½ 2ç¬‘èµ·æ¥3çœŸ4å¥½çœ‹

niyengniyeri ilha-i gese
1æ˜¥0ã®2èŠ±ã®3ã‚ˆã†ã«
3åƒ1æ˜¥å¤©0çš„2èŠ±3ä¸€æ ·

eiten akacun jai, eiten nasacun geterembumbi
1ã™ã¹ã¦ã®2æ‚©ã¿3ã‚„4ã™ã¹ã¦ã®5æ‚²ã—ã¿0ã‚’6æ‰•ã„ã®ã‘ã‚‹
6æŠŠ1æ‰€æœ‰çš„2çƒ¦æ¼4æ‰€æœ‰çš„5å¿§æ„6ç»Ÿç»Ÿéƒ½å¹æ•£

si injeci hon saikan
1ã‚ãªãŸ0ãŒ2ç¬‘ã†ã¨ã0ã¯3ã¨ã¦ã‚‚4ç¾ã—ã„
1ä½ 2ç¬‘èµ·æ¥3çœŸ4å¥½çœ‹

juwari elden -i gese
1å¤0ã®2å…‰3ã®4ã‚ˆã†ã«
4åƒ1å¤å¤©çš„0é˜³2å…‰
`,

  `
gulhun jalan -i erin forgon
1å…¨2ä¸–ç•Œ3ã®4æ™‚5é–“0ã¯
1æ•´ä¸ª2ä¸–ç•Œ0å…¨éƒ¨3çš„4æ—¶5å…‰

nirume saikan
1ç¾ã—ã2æã‹ã‚Œã‚‹
1ç¾å¾—0åƒ2ç”»0å·`,
];
---

<h2>ä¼ ç»Ÿæ»¡æ–‡</h2>
<Article title="ä½ ç¬‘èµ·æ¥çœŸå¥½çœ‹">
  <ManchuSyntax
    manju={true}
    vocab={vocabulary}
    lines={parts[0] + parts[1] + parts[2]}
  />
  <h2>è§†é¢‘</h2>
  <Bilibili
    client:load
    confirm={true}
    thumbnail="//user-images.githubusercontent.com/20166026/235231349-0de83eee-d487-4b10-85c3-f7541a2fb340.jpg"
    av={543714392}
    bv="1Dv4y1Z7J7"
  />
  <h2>ç©†éºŸå¾·è½¬å†™</h2>
  <ManchuSyntax vocab={vocabulary} lines={parts[0]} />
  <ManchuSyntax vocab={vocabulary} lines={parts[1]} />
  <ManchuSyntax vocab={vocabulary} lines={parts[2] + " ğ„‡"} />
  <hr />
  <ManchuSyntax vocab={vocabulary} lines={parts[1]} />
  <ManchuSyntax vocab={vocabulary} lines={parts[2] + " ğ„‡"} />
  <hr />
  <ManchuSyntax vocab={vocabulary} lines={parts[2] + " ğ„‚"} />

</Article>
