---
import type { CollectionEntry } from "astro:content";
import Page from "@/templates/zh/Page.astro";
import { toSupportedImage } from "@/scripts/open-graph";
import { getBlogPosts } from "@/scripts/post";
import SlotRenderer from "@/components/SlotRenderer.astro";

const OPENCC_SCHEME = "s2twp.json";
// @ts-ignore
import * as OpenCC from "opencc-js";
import type { AstroComponentFactory } from "astro/runtime/server/index.js";
const cc = OpenCC.Converter({ from: "cn", to: "twp" }) as (s: string) => string;

export async function getStaticPaths() {
  const posts = (await getBlogPosts()).map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
  const hantPosts = posts.map((post) => ({
    params: { slug: `${post.params.slug}/hant/` },
    props: post.props,
  }));
  return [...posts, ...hantPosts];
}

export type Props = CollectionEntry<"blog">;
const post = Astro.props;
const slug = Astro.params.slug;
const isHant = slug.endsWith("/hant") || slug.endsWith("/hant/");
let Content: AstroComponentFactory; //  = (() => <p>渲染失败</p>)()
try {
  Content = (await post.render()).Content;
} catch (e) {
  console.error(e);
  throw e;
}

let title = post.data.title;
if (post.data.categories.includes("译文")) {
  title = `（译）${title}`;
}

const metas: { [key: string]: string } = post.data.categories?.includes(
  "Tonsky",
)
  ? {
      viewport: "width=640",
      "theme-color": "hsl(51, 100%, 59%)",
    }
  : {
      "theme-color": "#111",
    };
Astro.locals.noscript = post.data.noscript;
---

<Page
  title={title}
  og={{
    title,
    description: post.data.description ?? "新世界的大门",
    image: post.data.photo
      ? toSupportedImage(
          typeof post.data.photo === "string"
            ? post.data.photo
            : post.data.photo.src,
        )
      : undefined,
    url: `https://blog.xinshijiededa.men/${post.slug}`,
  }}
  metas={metas}
  source={`https://github.com/OverflowCat/blog/blob/src/src/content/blog/${post.id}?plain=1`}
>
  {
    isHant ? (
      <SlotRenderer
        callback={(s) => {
          let res = cc(s);
          res = res.replaceAll(` lang="zh-Hans"`, ` lang="zh-Hant"`);
          return res;
        }}
      >
        <Content />
      </SlotRenderer>
    ) : (
      <Content />
    )
  }</Page
>
