---
export interface Props {
  post: CollectionEntry<"blog">;
}

import type { CollectionEntry } from "astro:content";
import { formatPostDate } from "../scripts/date";
import { Image, Picture } from "astro:assets";
import { Icon } from "astro-icon/components";
import { getIconName } from "@/scripts/icons";
import { crc32base } from "@/scripts/serendipity";
import "@/styles/title.less";
import "@/styles/icon.less";

const { post } = Astro.props;
const { data } = post;
const { photo } = data;
---

<table>
  <tr>
    <td class="content">
      <div>
        <span class="icon title-icon">
          {(<Icon name={getIconName(post) || "ph:hash-bold"} />)}
        </span><a
          class="title"
          transition:name={crc32base(post.data.title)}
          href={`/${post.id}/`}>{post.data.title || "No title"}</a
        >
        {
          !data.description && (
            <time
              class="title-date"
              datetime={data.date?.toISOString() || ""}
              set:text={formatPostDate(data.date)}
            />
          )
        }
      </div>
      <blockquote>
        {data.description}
        {
          data.description && (
            <a class="continue" href={`/${post.id}`}>
              阅读更多 →
            </a>
          )
        }
        {
          data.description && (
            <time
              class="title-date"
              datetime={data.date?.toISOString() || ""}
              set:text={formatPostDate(data.date)}
            />
          )
        }
      </blockquote>
    </td>
    {
      photo && photo.src && (
        <td class="title-img">
          <img
            class="title-img"
            loading="lazy"
            transition:name={crc32base(
              typeof photo === "string"
                ? photo
                : photo?.src,
            )}
            width={
              photo.aspect
                ? photo.aspect.split(":")[0]
                : ""
            }
            height={
              photo.aspect
                ? photo.aspect.split(":")[1]
                : ""
            }
            src={photo.src}
            alt={photo.alt ? photo.alt : data.title}
          />
        </td>
      )
    }
    {
      photo?.img && (
        <td class="title-img">
          <Picture
            class="title-img"
            transition:name={crc32base(photo.img.src)}
            src={photo.img}
            alt={photo.alt ? photo.alt : data.title}
            formats={["avif", "webp", "jpg"]}
          />
        </td>
      )
    }
  </tr>
</table>

<style lang="less" is:global>
  td {
    padding: 0px;
    &.content {
      vertical-align: top;
    }
    &.title-img {
      inline-size: 175px;
      #vert:target & {
        inline-size: 0; // WTF???
      }
    }
  }
</style>
<style lang="less">
  .continue {
    font-size: 90%;
    margin: 0;
    margin-inline-start: 4px;
    margin-inline-end: 4px;
    color: #6d6d6d;
    user-select: none;
    text-decoration: none;
  }
  blockquote {
    margin-block-start: 6px;
    margin-block-end: 6px;
    color: var(--link-visited-color);
    border-inline-start: 4px solid #ddd;
    color: var(--blockquote-color);
    padding: 0;
    padding-inline-start: 11px;
  }
  .title-date {
    float: right;
    inset-block-end: 2px;
  }
  table {
    inline-size: 100%;
    border-collapse: collapse;
  }

  img.title-img {
    margin-inline-start: 10px;
    width: 175px;
    height: auto;
    border-radius: 4px;
  }
  @media (max-width: 650px) {
    td.title-img {
      display: none;
    }
  }
</style>
