---
export interface Props {
  post: CollectionEntry<"blog">;
}

import type { CollectionEntry } from "astro:content";
import { formatPostDate } from "../scripts/date";
import { Icon } from "astro-icon/components";
import { getIconName } from "@/scripts/icons";
import { crc32base } from "@/scripts/serendipity";
import "@/styles/title.less";
import "@/styles/icon.less";

const { post } = Astro.props;
---

<table>
  <tr>
    <td class="content">
      <div>
        <span class="icon title-icon">
          {(<Icon name={getIconName(post) || "ph:hash-bold"} />)}
        </span><a
          class="title"
          transition:name={crc32base(post.data.title)}
          href={`/${post.slug}/`}>{post.data.title || "No title"}</a
        >
        {
          !post.data.description && (
            <time
              class="title-date"
              datetime={post.data.date?.toISOString() || ""}
              set:text={formatPostDate(post.data.date)}
            />
          )
        }
      </div>
      <blockquote>
        {post.data.description}
        {
          post.data.description && (
            <a class="continue" href={`/${post.slug}`}>
              阅读更多 →
            </a>
          )
        }
        {
          post.data.description && (
            <time
              class="title-date"
              datetime={post.data.date?.toISOString() || ""}
              set:text={formatPostDate(post.data.date)}
            />
          )
        }
      </blockquote>
    </td>
    {
      post.data.photo && (
        <td class="title-img">
          <img
            class="title-img"
            loading="lazy"
            transition:name={crc32base(post.data.photo)}
            height={
              post.data.photo.split(" ").length > 1
                ? post.data.photo.split(" ")[1].split(":")[1]
                : ""
            }
            width={
              post.data.photo.split(" ").length > 1
                ? post.data.photo.split(" ")[1].split(":")[0]
                : ""
            }
            src={post.data.photo.split(" ")[0]}
            alt={post.data.title}
          />
        </td>
      )
    }
  </tr>
</table>

<style>
  .continue {
    font-size: 90%;
    margin: 0;
    margin-inline-start: 4px;
    margin-inline-end: 4px;
    color: #6d6d6d;
    user-select: none;
    text-decoration: none;
  }
  blockquote {
    margin-block-start: 6px;
    margin-block-end: 6px;
    margin-inline-start: 0;
    margin-inline-end: 8px;

    color: #383838;
    border-inline-start: 4px solid #ddd;
    color: var(--blockquote-color);
    padding: 0;
    padding-inline-start: 11px;
  }
  .title-date {
    float: right;
    inset-block-end: 2px;
  }
  table {
    inline-size: 100%;
    border-collapse: collapse;
  }
  td {
    padding: 0px;
  }
  td.content {
    vertical-align: top;
  }
  td.title-img {
    width: 175px;
  }
  img.title-img {
    margin-inline-start: 10px;
    height: auto;
    border-radius: 4px;
  }
  @media (max-width: 650px) {
    td.title-img {
      display: none;
    }
  }
</style>
