---
export interface Props {
  post: CollectionEntry<"blog">;
}

import type { CollectionEntry } from "astro:content";
import { formatPostDate } from "@/scripts/date";
import { Icon } from "astro-icon/components";
import { getIconName } from "@/scripts/icons";
import { crc32base } from "@/scripts/serendipity";
import "@/styles/title.less";

const { post } = Astro.props;
const icon = getIconName(post);
---

<code class="title-date" set:text={formatPostDate(post.data.date)} />
<span class="icon title-icon">
  {icon && <Icon name={icon} />}
</span>
<a
  class="title"
  href={`/${post.slug}/`}
  transition:name={crc32base(post.data.title)}
  set:text={post.data.title}
/>
