---
import { getCatsInfo } from "@/scripts/tags";
import "@/styles/tag-cloud.less";

function generateRandomColor() {
  const MAX_RGB_VALUE = 180;
  const MIN_RGB_VALUE = 50;
  const [r, g, b] = ["r", "g", "b"].map(
    () =>
      Math.floor(Math.random() * (MAX_RGB_VALUE - MIN_RGB_VALUE)) +
      MIN_RGB_VALUE
  );
  return `rgb(${r}, ${g}, ${b})`;
}
---

<div class="tag-cloud">
  {
    Array.from(getCatsInfo()).map(([k, v]) => (
      <a
        href={`/categories/${k}`}
        style={`font-size: ${2 * v + 7}px; color: ${generateRandomColor()}`}
      >
        {k}
      </a>
    ))
  }
</div>
