---
import { getTagsInfo } from "@/scripts/tags";
import "@/styles/tag-cloud.less";

function generateRandomColor() {
  const MAX_RGB_VALUE = 135;
  const MIN_RGB_VALUE = 35;
  const [r, g, b] = ["r", "g", "b"].map(
    () =>
      Math.floor(Math.random() * (MAX_RGB_VALUE - MIN_RGB_VALUE)) +
      MIN_RGB_VALUE
  );
  return `rgb(${r}, ${g}, ${b})`;
}
---

<div class="tag-cloud">
  {
    Array.from(getTagsInfo()).map(([k, v]) => (
      <a
        href={`/tags/${k}`}
        style={`font-size: ${1.8 * v + 13}px; color: ${generateRandomColor()}`}
      >
        {k}
      </a>
    ))
  }
</div>
