---
import Paper from "@/components/FakePaper.astro";
import "@/styles/icon.less";
import Comments from "@/components/comments/Comments.astro";
// import "@/styles/snowy.css";
import Common from "./Common.astro";
let { frontmatter } = Astro.props;
if (frontmatter) frontmatter = blogSchema.parse(frontmatter);
import Bar from "@/templates/Bar.astro";
import "@/styles/form.less";
import type { Frontmatter } from "@/types";
import { blogSchema } from "@/scripts/schema/content";
const classes = frontmatter?.resizable ? ["resizable"] : [];
export type Props = {
  frontmatter?: Frontmatter;
};
---

<style is:global is:inline>
  :root {
    color-scheme: light;
  }

  .paper {
    margin: auto;
    inline-size: 1024px;
    max-inline-size: calc(100dvi - 2em);
    min-inline-size: 380px;
  }
  .resizable {
    resize: horizontal;
    /* overflow-x: hidden; */
  }
  .paper:not(.resizable) {
    overflow-x: auto;
  }

  @media (max-width: 480px) {
    .resizable {
      inline-size: 100%;
      max-inline-size: 100%;
      min-inline-size: 100%;
    }
  }

  section#comments {
    margin-block: 1em;
  }
</style>

<Bar theme="light" lang="zh-Hans" />
<Paper
  transitionName="main"
  padding={true}
  paper={frontmatter?.paper ?? true}
  classes={classes}
>
{
  frontmatter &&
  <Common frontmatter={frontmatter}>
    <slot />
  </Common>
}
<slot />
</Paper>

<section id="comments">
  <Paper padding={true} paper={true} classes={classes}>
    <Comments />
  </Paper>
</section>
