---
import Paper from "@/components/FakePaper.astro";
import "@/styles/icon.less";
import Comments from "@/components/comments/Comments.astro";
// import "@/styles/snowy.css";
import Common from "./Common.astro";
import "@shikijs/twoslash/style-rich.css";
const { frontmatter } = Astro.props;
import Bar from "@/templates/Bar.astro";
import "@/styles/form.less";
import type { Frontmatter } from "@/types";
const classes = frontmatter?.resizable ? ["resizable"] : [];
export type Props = {
	frontmatter?: Frontmatter;
	content?: Frontmatter;
	file: string;
	url: string;
};
---

{Astro.locals.renderer === 'rss' ?
  <Common layoutProps={Astro.props}></Common>
  <slot />
:
<style is:global is:inline>
  :root {
    --font-sans-en: "Noto Sans", "Open Sans", "Roboto", "Helvetica Neue", Helvetica, Arial,
      sans-serif;
    --font-sans-ja: "Noto Sans JP", "Noto Sans CJK JP", "MS Meiyo", "Meiryo",
      "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo",
      "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
    --font-mono: "IBM Plex Mono",
    "JetBrains Mono", "JetBrains Mono NF",
    "JetBrainsMono NF",
    "更纱等距黑体",
    FiraCode, "Fira Code", "FiraCode NF",
    "Noto Sans CJK Mono SC", "Source Code Pro",
    "Noto Sans Mono", "Noto Sans Mono CJK SC", "Noto Sans Mono CJK JP",
    "Noto Sans Mono CJK KR", "Noto Sans Mono CJK TC", "Lucida Console",
    Liberation Mono, DejaVu Sans Mono, Consolas, Bitstream Vera Sans Mono,
    "Courier New", "FiraCode NF", monospace;
    color-scheme: light;
  }
  .paper {
    margin: auto;
    inline-size: 1024px;
    max-inline-size: calc(100dvi - 2em);
    min-inline-size: 380px;
    overflow: hidden;
  }
  .resizable {
    resize: inline;
    /* overflow-x: hidden; */
  }

  @media (max-width: 480px) {
    .resizable {
      inline-size: 100%;
      max-inline-size: 100%;
      min-inline-size: 100%;
    }
  }

  section#comments {
    margin-block: 1em;
  }
</style>

<Bar theme="light" lang="zh-Hans" />
<Paper
  transitionName="main"
  padding={true}
  paper={frontmatter?.paper ?? true}
  classes={classes}
>
{
  frontmatter ?
  <Common layoutProps={Astro.props}>
    <slot />
  </Common> : <slot />
}
</Paper>

<section id="comments">
  <Paper padding={true} paper={true} classes={classes}>
    <Comments />
  </Paper>
</section>
}