---
const { frontmatter } = Astro.props;
import "@/styles/tonsky.less";
import "@/styles/han.less";

import * as cheerio from "cheerio";
import Languages from "@/components/lang/Languages.astro";
import Bar from "@/templates/Bar.astro";
import Han from "@/components/Han.astro";
import { hasChinese } from "@/components/lang/zh";
import Comments from "@/components/comments/Comments.astro";
import "@fontsource/ibm-plex-mono/latin-ext-400.css";
import "@fontsource/ibm-plex-mono/cyrillic-400.css";
import "@fontsource/ibm-plex-mono/latin-400.css";
import "@fontsource/ibm-plex-mono/latin-400-italic.css";
import "@fontsource/ibm-plex-sans/400.css";
import "@fontsource/ibm-plex-sans/latin-600.css";
import "@fontsource/ibm-plex-sans/latin-400-italic.css";
import "@fontsource/ibm-plex-sans-kr";

const HANS = "&#x6C49;&#35821;";

const slug = Astro.url.pathname;
const zhLocale = slug.endsWith("/hant") ? "zh-Hant" : "zh-Hans";

const $ = cheerio.load(await Astro.slots.render("default"));
$(
  "li, p:not(table p):not(pre p), h1, h2, h3, h4, h5, h6, blockquote, thead"
).each(function () {
  if ($(this).attr("lang") || $(this).attr("data-bilingual")) return;
  const text = $(this).text();
  if (!text.trim()) return;
  const lang = hasChinese(text) ? zhLocale : "en";
  $(this).attr("lang", lang);
});

$("[lang^='zh']:not(svg *)").each(function () {
  const innerHTML = $(this).html();
  if (!innerHTML) return;
  $(this).html(
    innerHTML.replace(/(?<!\d) ?Unicode ?/g, function (match) {
      return `<span class="h">${match}</span><span class="vert">统一码</span>`;
    })
  );
});
const html = $.html();
---

<Bar theme="light" lang="en" />
<div class="page">
  <!-- {cover && <img src={cover} alt={frontmatter.title} />} -->
  {!frontmatter.hide_title && <h1>{frontmatter.title}</h1>}
  <label for="show-en" class="btn">双语</label>
  <input type="checkbox" id="show-en" />
  /
  <Languages
    src="en"
    here="zh"
    langs={frontmatter.langs}
    classList={["tonsky"]}
  />
  <Han float={false} hans={HANS} hant="漢語" />
  <article class="content" set:html={html} />

  <Comments />
</div>
<style is:global lang="less">
  input#show-en {
    accent-color: #383838;
    transform: scale(1.2);
    margin: 0 0.5em;
  }

  label[for="show-en"] {
    cursor: pointer;
    user-select: none;
  }
  .page {
    article {
      margin-top: 1em;

      [lang="en"] {
        transition-property: opacity, transform, display;
        transition-duration: 0.3s;
        transition-behavior: allow-discrete;
      }
    }
  }

  @starting-style {
    article [lang="en"] {
      opacity: 0;
      transform: translateY(-50%) scaleY(0);
    }
  }

  #show-en:not(:checked) {
    & ~ article {
      [lang="en"] {
        display: none;
        opacity: 0;
        transform: translateY(-50%) scaleY(0);
      }
    }
  }

  #comments {
    max-inline-size: 600px;
    // margin: 1rem auto 0;
    margin-block-start: 1rem;
    margin-block-end: 0;
    margin-inline: auto;
  }

  #footnote-label {
    display: none;
  }

  [lang="ko"] {
    font-family: "IBM Plex Sans KR", "Apple SD Gothic Neo", Dotum, Gulim,
      "NanumBarunGothic YetHangul", NanumBarunGothic, UnDotum,
      "Source Han Sans K", "Source Han Sans KR", "Noto Sans CJK KR", NanumGothic,
      "Malgun Gothic", "NanumMyeongjo YetHangul", NanumMyeongjo, Batang,
      UnBatang, sans-serif !important;
  }

  span.h + span.vert {
    display: none;
  }
  #vert:target span.h {
    display: none;
    & + span.vert {
      display: inline;
    }
  }
</style>
